<template>
    <h1 class="center"> Welcome to your Galleries</h1>
        <div class = "container">
            <div class="card topMargin">
                <div class="card-body">
                    <div class="row">
                                 
                    <span class="col">
                    <span class="rightMargin pull-right"><i click.trigger="logout()" class="fa fa-sign-out fa-lg" aria-hidden="true"></i></span>
                    <span class=" rightMargin pull-right"><i click.trigger="createGalleries()" class="fa fa-plus fa-lg" aria-hidden="true"></i></span>
                </span>
            </div>        
        <div show.bind="galleries.galleriesArray.length">
        <table class="table">
             <thead>
                <tr>
                    <th>Galleries Name</th>
                    <th>Date Created</th>
                    <th>Description</th>						
                    <th>Edit | Delete</th>						
                </tr>
            </thead>
                <tbody>
                    <tr repeat.for = "galleries of galleries.galleriesArray">
                    <th><button click.trigger="showGalleriesOrAdd(galleries)" class="btn btn-primary">${galleries.galleries}</button></th>
                    <td>${galleries.dateCreated | dateFormat}</td> 
                    <td>${galleries.description}</td>
                <td>
                    <i click.trigger="editGalleries(galleries)" class="fa fa-pencil rightMargin" aria-hidden="true"></i>
                    <i click.trigger="deleteGalleries(galleries)"class="fa fa-trash rightMargin" aria-hidden="true"></i>              
                </td>												
                </tr>
            </tbody>
        </table>
    </div>
    
    <div show.bind="!galleries.galleriesArray.length">
        <h2>Apparently, you don't have galleries. Lets start one now!</h2>
  
    </template>